<%= button_to :new_task, new_task_path, method: :get, class: "btn btn-primary" %>

<table class="table">
  <tr>
    <th> </th>
    <th> <%= :title %> </th>
  </tr>
  <% tasks.each do |t| %>
    <tr>
      <td> <input class="form-check-input" type="checkbox" value="" id="completed"> </td>
      <td><%= t.title %></td>
    </tr>
  <% end %>
</table>

<script>
  $("#completed").ajax
  mydata = {checked: true}
  $.ajax({
    type: "POST",
    url: "/things",
    data: mydata,
  });
</script>