
<%= button_to :new_task, new_task_path, method: :get, class: "btn btn-primary m-1" %>

<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="incomplet-tab" data-bs-toggle="tab" data-bs-target="#incomplet" type="button" role="tab" aria-controls="incomplet" aria-selected="true">Uncompleted</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="complet-tab" data-bs-toggle="tab" data-bs-target="#complet" type="button" role="tab" aria-controls="complet" aria-selected="false">Completed</button>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="incomplet" role="tabpanel" aria-labelledby="incomplet-tab">
    <%= render "table", :tasks => tasks.uncompleted  %>
  </div>
  <div class="tab-pane fade" id="complet" role="tabpanel" aria-labelledby="complet-tab">
    <%= render "table", :tasks => tasks.completed %>
  </div>
</div>




<script>
  $(document).ready(function() {
    $('.checkbox').change(function() {
      id = this.dataset.id
      mydata = {checked: this.checked}
      $.ajax({
        type: "PATCH",
        url: "/toggle/" + id + "/task",
        data: mydata,
      });
    });
  });
</script>